.container_text
{
	font-weight: bold;
}

#settings_container
{
	list-style-type: none;
}

#formated_paste
{
	overflow: auto;
}
pre div
{
	display: inline !important;
}

#code_value textarea
{
	width: 100%;
}

/* For when in SMF */
#content_section #code_value textarea
{
	width: 80%;
}
